body {
    diaplay: flex;
    justify-content: center; 
    align-items: center;     
}

.header {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.character-container {
    display: flex;
    justify-content: center; 
    align-items: center;  
    font-size: 20px;
    margin-bottom: 30px;
    gap: 100px;
}

.character-level {
    text-align: center;
}

.character-status {
    margin-left: 250px;
}

.attributes-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center; 
    align-items: center;  
}

.attribute-box {
    border: 4px solid #000000;
    width: 100px;
    padding: 12px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.attribute-text {
    text-align: center;
}
.attribute-text input {
    width: 50px;
    text-align: center;
}

#attribute-name {
    font-weight: bold;
    margin-bottom: 10px;
}
#modifier-value {
    font-size: 24px;
    color: #555555;
}
#attribute-value {
    font-size: 16px;
}

.action-buttons {
    display: flex;
    justify-content: center; 
    align-items: center;  
    gap: 20px;
    margin-top: 40px;
}

.number-input {
    width: 24px;
    text-align: center;
    font-size: 16px;
}

.dice-result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}